@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1a1a1a;
  --secondary: #252525;
  --accent: #00ff99;
  --text: #e6e6e6;
  --label: #9a9a9a;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: var(--primary);
  color: var(--text);
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 10px;
}
